{% extends 'home/base.html' %}
{% block content %}


<div class="w3-display-container"  style="height:700px;">
<div class="w3-display-middle">

 <b> <h2>Registration Form</h2></b>

<form class="w3-container" action="/customer_portal/registration/" method="POST">{% csrf_token %}
  <lable>FirstName : </lable><input class="w3-input form-control" type="text" name="firstname">
  <lable>LastName : </lable><input class="w3-input form-control" type="text" name="lastname">
  <lable>Username : </lable><input class="w3-input form-control" type="text" name="username">
  <lable>Password : </lable><input class="w3-input form-control" type="password" name="password">
  <lable>Email : </lable><input class="w3-input form-control" type="text" name="email">
  <lable>Contact : </lable><input class="w3-input form-control" type="text" name="mobile">
  <lable>City : </lable><input class="w3-input form-control" type="text" name="city">
  <lable>Pincode : </lable><input class="w3-input form-control" type="text" name="pincode"><br>
  <button class="btn btn-success"> Submit</button><br><br>

  <a class="btn btn-info" href="/customer_portal/login/">Login</a>
  <a class="btn btn-info" href="/">Home</a>
  
</form>

</div>
</div>
{% endblock %}
